#s1,#s2,#s3
{
	font-size:40px;
	color:yellow;
}
#body
{
	background-image:url(soccer/soccer2.jpeg);
	margin-top:20%;
	text-align:center;
}
#t2
{
	background:black;
	color:white;
}
html
{
	height:100%;
}
